* {
  box-sizing: border-box;
}

html,
body {
  min-block-size: 100%;
  margin: 0;
  overscroll-behavior-x: none;
}

body {
  color: var(--yoyi-color-text-primary);
  background-color: var(--yoyi-color-background-page);
  font-family: var(--yoyi-font-interface);
}

button,
input {
  font: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
}
